@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />   
    <title></title>
</head>
<body>
    <div>
    Testes Bla bla
    </div>
</body>
</html>
