@using GrupoDeEstudo.Models;

@model CoordenadasCliente

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Coordenadas</h2>

<div>@Model.Latitude</div>

<div>@Model.Longitude</div>

