@using System.Collections.Generic
@using GrupoDeEstudo.Models
@model IList<Cliente>

@{
    /**/

    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .cliente {
        color: #ddd;
        border: 1px solid black;
        padding: 10px;
        text-align: left;
        font-size: 1.5em;
        background-color: rgba(0,0,0,0.5);
    }

    .produto {
        border: 1px solid black;
        cursor: pointer;
        background-color: gainsboro;
        color: black;
        font-size: 1em;
    }

    .produto:hover {
        background-color: palegreen;
        color: blue;
    }

    .produtoCodigo {
        text-align: right;
    }

    .produtoDescricao {
        text-align: left;
    }

    </style>
    <div style="margin-top: 20px;">
        @{
            foreach (Cliente cliente in Model)
            {
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 cliente">
                        Cliente: @cliente.Nome
                    </div>
                    @foreach (Produto produto in cliente.Produtos)
                    {
                        <div class="col-md-12 col-sm-12 col-xs-12 produto" onclick="ExibirProduto(this)">
                            <div class="col-md-4 col-sm-4 col-xs-4 produtoCodigo">@produto.Codigo:</div>
                            <div class="col-md-8 col-sm-8 col-xs-8 produtoDescricao">@produto.Descricao</div>
                        </div>
                    }
                </div>
            }
        }
    </div>
    <script>
        function ExibirProduto(sender) {
            var produtoDescricaoDiv = $(sender).find('.produtoDescricao');
            alert($(produtoDescricaoDiv).text());
        }
    </script>